* {
  border: 1px dashed black;
}

div {
  height: 50px;
  width: 100px;
  border: 50px solid pink;
  border-radius: 5px;
  background-color: #308014;
  display: inline-block;
  margin: 200px;
  padding: 20px;
}