*{
    background-color: orange;
}

h1{
    font-size: 40px;
    font-family: helvetica;
    color: pink;
    position: absolute;
    top: 7px;
    left: 8px;
}

p{
    font-family: times;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}
